.modal-1 {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
}

.modal-1 form {
  background: red;
  width: 300px;
  padding: 2rem;
  margin: auto;
}
