.modal-1 {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
}

.modal-1 input,
.modal-1 textarea {
  padding: 8px;
  width: 100%;
}

.modal-1 form {
  background: #fff;
  padding: 2rem;
  margin: auto;
  position: relative;
  border-radius: 0.5rem;
}

.modal-1 .btn {
  width: 100%;
}

.modal-1 .btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
